@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
html{
    font-size: 62.5%; /* ========== base 10 ===*/
}

body{
    font: 1.6rem 'Roboto Slab', sans-serif; /* serif ou sans-serif */
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    letter-spacing: 0.1rem; /* 1px */
    line-height: 1.6; /* constante hauteur des lignes */
    height: 100vh;
    
}
h1, h2, h3, h4, h5, h6,
p, figure, ul, ol{ 
    /* plusieurs balises une seule propriété ou plusieurs */
    margin: 0;
    padding: 0;
    list-style: none;
}
*{
    box-sizing: border-box; /* 100px largeur ajouter 10px 
    droite et gauche de l'élément: largeur totale = 120  100 - 20 */
}

img{
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
}
